.App{
    background-image:url(images/hearts_bg.jpg) ;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Cormorant Garamond', serif;
}

@font-face{
    font-family:'Cormorant Garamond', serif;
    src:url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');
}

.error{
    color:red;
}

#username{
    color:grey
}

.pinkBtn{
    background-color: rgb(236, 77, 215);
    color:white;
    box-shadow:0 8px 16px 0 rgba(212, 4, 101, 0.753), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding:5px 30px
}

#search{
    width:70%;
    margin:10px auto;
    padding:30px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.card{
    border:1px solid white;
    width:50%;
    margin:auto;
    margin-top:40px 
}

img{
    height: 100%;
}

#sendMsg{
    height:100vh
}

#sendMsg div{
    margin:280px 100px
}

.messages{
     border:1px solid white;
     background-color: rgba(255, 255, 255, 0.4);
 }

 .messages input{
     width:75%
 }

 .name_heading{
     text-align:center;
     font-weight:bold;
     color:gray;
     background-color:white;
     padding:10px 0;

 }

.cursor{
    cursor:pointer
}


#validate{
    border:1px solid gray;
    background-color: rgba(255, 255, 255,0.5);
    
    
}

@media (min-width:280px){
    #signup{
    border:1px solid white;
    width:300px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.822);
    margin:30px auto
    }

    #search{
    width:100%;
    margin:10px auto;
    padding:30px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}
}
@media (min-width: 360px){
    #signup{
    border:1px solid white;
    width:350px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.822);
    margin:30px auto
    }

    #search{
    width:90%;
    margin:10px auto;
    padding:30px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}

}

@media (min-width: 768px){
    #signup{
    border:1px solid white;
    width:550px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.822);
    margin:30px auto
    }

    #search{
    width:90%;
    margin:10px auto;
    padding:30px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}

}

@media (min-width: 1024px){
    #signup{
    border:1px solid white;
    width:650px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.822);
    margin:30px auto
    }

}
 