.error{
    color:red;
}
#username{
    color:grey
}

#search-bar{
    width:80%;
    margin:10px;
    padding:10px
}

.profiles{
    height:40vh;
    border:1px solid black;
    margin-bottom: 150px;
}

img{
    height: 100%;
}

.cursor{
    cursor:pointer
}

#popup{
    position:absolute;
    border:1px solid gray
}

@media (min-width:280px){
    #signup{
    border:1px solid gray;
    width:300px;
    margin:auto;
    border-radius: 25px;
    }
}
@media (min-width: 360px){
    #signup{
    border:1px solid gray;
    width:350px;
    margin:auto;
    border-radius: 25px;
    }

}

@media (min-width: 768px){
    #signup{
    border:1px solid gray;
    width:550px;
    margin:auto;
    border-radius: 25px;
    }

}

@media (min-width: 1024px){
    #signup{
    border:1px solid gray;
    width:650px;
    margin:auto;
    border-radius: 25px;
    }

}
 